# Configuration MongoDB
# Pour MongoDB Atlas en ligne
MONGODB_URI=mongodb+srv://votre_username:votre_password@votre_cluster.mongodb.net/kanban?retryWrites=true&w=majority

# Port du serveur
PORT=8082
